server {

  listen 80;
  listen 443 ssl;

  ssl on;

  ssl_certificate /etc/ssl/ssl-bundle.crt;

  ssl_certificate_key /etc/ssl/ssl-tutorials.key;

  server_name ssl-tutorials.com;

  access_log /var/log/nginx/nginx.vhost.access.log;

  error_log /var/log/nginx/nginx.vhost.error.log;

  root /usr/share/nginx/html

  location /person {
    proxy_pass https://backend:5000
  }

  location /persons {
    proxy_pass https://backend:5000
  }
}
